# Credenciais do Banco de Dados PostgreSQL (PostGIS)
DB_USER=postgres
DB_PASSWORD=senha_do_banco
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nome_do_banco
DATABASE_URL = url_supabase
# Configurações futuras de Segurança (JWT para Login)

# Podes gerar uma chave aleatória no terminal com: openssl rand -hex 32
SECRET_KEY=sua_chave_secreta_muito_longa_e_aleatoria_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440